.calculator-container{
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 480px;
    padding: 10px;
    height: auto;
    border-radius: 3%;
    background-color:#262425;
    animation-name: pop;
    animation-duration: .5s;
    border: 2px solid black;
    box-shadow: 4px 2px 30px 8px rgba(0,0,0,0.75);
}

.screen{
    width: 100%;
    padding: 10px 0;
    min-height: 100px;
}

.button-pad{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "ac      ac      div     mult"
                         "seven   eight   nine    subs"
                         "four    five    six     add"
                         "one     two     three   equal"
                         "zero    zero    dot     equal"; 
    grid-row-gap: 5px;
    grid-column-gap: 5px; 
    width: 100%;
}

@keyframes pop{
    50%{
        transform: scale(1.25,1.25)        
    }

    100%{
        transform: scale(1,1)
    }
}