.display{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
}

.display .row1{
    width: 98%;
    min-height: 50px;
    text-align: right;
    font-size: 1.25em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.display .row2{
    min-height: 50px;
    text-align: right;
    font-size: 2em;
    font-weight: bolder;
    padding: 5px;
}