
.numerical-button{
    font-family: 'Lato', sans-serif;
    grid-area: one;
    border-radius: 10px;
    background-color: #979694;
    border: 1px solid black;
    outline: none;
    font-size: 1.5em;
    font-weight: bolder;
    animation-name: button-hover;
    height: 65px;
}

.numerical-button:hover{
    background-color: yellow;
}

#zero{
    grid-area: zero;
}

#one{
    grid-area: one;
}

#two{
    grid-area: two;
}

#three{
    grid-area: three;
}

#four{
    grid-area: four;
}

#five{
    grid-area: five;
}

#six{
    grid-area: six;
}

#seven{
    grid-area: seven;
}

#eight{
    grid-area: eight;
}

#nine{
    grid-area: nine;
}

#decimal{
    grid-area: dot;
}

