.operational-button{
    border-radius: 10px;
    background-color: #2B292A;
    border: 1px solid white;
    outline: none;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    height: 65px;
}

.operational-button:hover{
    background-color: yellow !important;
    color: black;
}

#equals{
    height: 100%;
    grid-area: equal;
    background-color: #FF712B;
    color: black;
}

#add{
    grid-area: add;
}

#subtract{
    grid-area: subs;
}

#multiply{
    grid-area: mult;
}

#divide{
    grid-area: div;
}

#clear{
    grid-area: ac;
    background-color: #FF712B;
    color: black;
}