body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #555555; 
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


#signature{
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

